.dropdown {
    border-radius: 10px;
    background-color: var(--background-light-color);
    margin: 30px 0;
    width: 100%;
}

.dropdown-header {
    background-color: var(--primary-color);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    padding: 0 12px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-title {
    font-size: min(24px, 3vw);
    text-decoration: none;
    font-weight: 500;
}

.dropdown .close {
    margin: 6px;
}

.dropdown-content-hidden {
    visibility: hidden;
}

.dropdown .arrow {
    height: 14px;
    object-fit: scale-down;
    margin: 10px;
}

.dropdown-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2em;
    margin: 0;
    color: var(--primary-color);
    font-weight: 400;
    font-size: min(24px, 2.8vw);
    line-height: 1.3;
    border-radius: 0 0 10px 10px;
    padding: 20px 12px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .dropdown-header {
        font-size: min(13px, 4vw);
    }
    .dropdown-description {
        font-size: min(12px, 3.5vw);
    }
}
