.slideshow {
    position: relative;
    width: 100%;
    height: min(65vw, 415px);
}

.slideshow-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    object-fit: scale-down;
    height: min(10vw, 80px);
    cursor: pointer;
}

.arrow-left {
    left: min(2vw, 22px);
}

.arrow-right {
    right: min(2vw, 22px);
}

.slide-number {
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: min(3.5vw, 18px);
}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .slide-number {
        display: none;
    }
}
