/* Home Page */

.thumbnails-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 2em;
    border-radius: 25px;
    margin-top: 24px;
    padding: 3vw;
    background: var(--background-light-color);
}

/* Fiche logement Page */

.logement-title,
.logement-subtitle {
    color: var(--primary-color);
    margin: 10px 0;
}

.logement-title {
    font-weight: 500;
    font-size: min(36px, 7vw);
}

.logement-tags {
    margin: 10px 0;
}

.logement-details {
    display: flex;
    justify-content: space-between;
}

.logement-description,
.logement-equipements {
    width: 48%;
    height: auto;
}

/* Error 404 Page */

.error-title {
    font-size: min(40vw, 288px);
    margin: auto;
}

.error404-message {
    font-size: min(5vw, 36px);
}

.error404-container {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.error404-home-link {
    font-size: 18px;
    padding: 8% 0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .thumbnails-container {
        padding: 2vw 0;
        gap: 1em;
        background: none;
        justify-content: center;
        grid-template-columns: 1fr;
    }
}
