/* Home Page */

.thumbnails-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 2em;
    border-radius: 25px;
    margin-top: 24px;
    padding: 3vw;
    background: var(--background-light-color);
}

/*About page*/

.about-dropdown {
    padding: 2px 0;
}

/* Accomodation Page */

.accomodation-main-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    margin: 10px 0;
}

.accomodation-title,
.accomodation-subtitle {
    color: var(--primary-color);
    margin: 10px 0;
}

.accomodation-title {
    font-weight: 500;
    font-size: min(36px, 7vw);
}

.accomodation-tags {
    margin: 10px 0;
}

.accomodation-host-and-rating {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.8em;
}

.accomodation-details {
    display: flex;
    justify-content: space-between;
}

.accomodation-description,
.accomodation-equipements {
    width: 48%;
    height: auto;
}

/* Error 404 Page */

.error-title {
    font-size: min(40vw, 288px);
    margin: auto;
}

.error404-message {
    font-size: min(5vw, 36px);
}

.error404-container {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.error404-home-link {
    font-size: 18px;
    padding: 8% 0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .thumbnails-container {
        padding: 2vw 0;
        gap: 1em;
        background: none;
        justify-content: center;
        grid-template-columns: 1fr;
    }

    .accomodation-main-information {
        flex-direction: column;
    }

    .accomodation-host-and-rating {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .accomodation-titles-and-tags {
        width: 100%;
    }

    .accomodation-details {
        flex-direction: column;
    }

    .accomodation-description,
    .accomodation-equipements {
        width: 100%;
    }
}
