.host {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 4px 0;
}

.host-picture {
    width: min(16vw, 70px);
    height: min(16vw, 70px);
    border-radius: 50%;
}

.host-name {
    color: var(--primary-color);
    margin-right: 10px;
    text-align: right;
    width: 40%;
    font-size: min(4.5vw, 18px);
}
