body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    max-width: 1920px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    cursor: default;
}

main,
header {
    padding: 0 80px;
}

main {
    margin: 20px 0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    main,
    header {
        padding: 0 30px;
    }
}
